:root {
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --desaturated-blue: hsl(238, 29%, 16%);
  --very-dark-gray: hsl(237, 12%, 33%);
  --dark-gray: hsl(240, 6%, 50%);
  --light-gray: hsl(240, 5%, 91%);
  --white: hsl(0, 0%, 100%);
  --soft-red: hsl(14, 88%, 65%);
}
body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(var(--soft-violet), 50%, var(--soft-blue));
  font-family: "Kumbh Sans", sans-serif;
}
.card {
  position: relative;
  max-width: 70rem;
  margin: 3rem;
  padding: 1rem 0;
  background-color: var(--white);
  border-radius: 2rem;
  background-image: url("./images/bg-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-position: center 0;
}
.card-image {
  position: relative;
  padding: 2rem 0;
}
.box-img {
  display: none;
}
.card-text {
  margin: 3rem 2rem;
}
.woman-img {
  position: absolute;
  left: 48%;
  top: 0%;
  transform: translate(-50%, -60%);
}
.faq {
  font-size: 3rem;
  color: var(--desaturated-blue);
  text-align: center;
  margin: 3rem 0;
}
.question {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 1rem 0;
  background: none;
  border: none;
  color: var(--desaturated-blue);
  font-size: 1.1rem;
  transition: 0.3s;
}
.question:hover {
  cursor: pointer;
  color: var(--soft-red);
  transition: 0.3s;
}
.question::after {
  content: "";
  display: block;
  background-image: url("./images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 1rem;
  height: 0.75rem;
  transition: 0.3s;
}
p {
  font-size: 1rem;
  color: var(--very-dark-gray);
}
.accordion-item {
  border-bottom: 2px solid var(--light-gray);
}
.question.active {
  font-weight: 700;
}
.question.active::after {
  transform: rotate(180deg);
}
.accordion-collapse {
  overflow: hidden;
  max-height: 0;
  transition: 0.3s;
}
.question.active ~ .accordion-collapse {
  max-height: 100px;
  transition: 0.3s;
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin: 0 auto;
  color: var(--light-gray);
}
.attribution a {
  color: var(--light-gray);
}
@media (min-width: 768px) {
  .card-text p {
    margin: 0 0 2rem 0;
  }
}
@media (min-width: 992px) {
  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    min-height: 70vh;
    background-image: url("./images/bg-pattern-desktop.svg");
    background-position: -35rem 70%;
  }
  .card-image {
    width: 50%;
    height: 359px;
    overflow: hidden;
  }
  .woman-img {
    top: 50%;
    left: -5rem;
    transform: translateY(-50%);
  }
  .card-text {
    width: 50%;
    margin: 0 5rem 0 0;
  }
  .faq {
    text-align: left;
    margin: 0 0 3rem 0;
  }
  .box-img {
    display: block;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    transform: translate(-50%, -25%);
  }
  .items {
    margin: 0;
  }
  .question {
    margin: 1.5rem 0;
  }
}
